.plugins .row-actions .update a {
	position: relative;
	padding: 2px 5px;
	background-color: #ff2222;
	color: #fff;
}

.plugins .row-actions .update a:hover {
	background-color: #ee1111;
}

.plugins .row-actions .update a:after {
	content: ' ➞';
	right: 5px;
}